body {
  display: flex;
  flex-direction: column;
  background-color: #1F2937;
  color: #F9FAF8;
  align-items: center;

}

h1 {
  padding-bottom: 10em;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 5em;
  font-size: 36px;
  padding-bottom: 0.5em;
}

.button {
  border: 2px solid #F9FAF8;
  border-radius: 8px;
  padding: 1em 2em;
}
#results {
  font-size: 32px;
}